/* MarketViser - 2018 */
/* ============ */

/* PAGE --> INDEX */

@font-face {
    font-family: 'Expletus Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Expletus Sans Medium'), url('../webfonts/ExpletusSans-Medium.woff') format('woff');
}

body {
    padding: 0 0;
    margin: 0 0;
}

html, body{
    height: 100%;
}

.l-wrapper {
    display: grid;
}

@media(min-width: 30em) and (max-width: 99.9em) {
    .l-wrapper {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 2.5rem 5rem 4rem 36rem 100rem 25rem;
        grid-template-areas:
            "header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top"
            "header header header header header header header header header header header header"
            "header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom"
            "banner banner banner banner banner banner banner banner banner banner banner banner"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            ;
    }

    .l-header-top {
        grid-area: header-top;
        background-color: #2f3640;
        width: 100%;
        text-align: center;
    }

    .l-header {
        grid-area: header;
        background-color: #00cfd0;
        width: 100%;
        text-align: center;
        z-index: 2;
    }

    .l-header-bottom {
        grid-area: header-bottom;
        background-color: #e6e6e6;
        width: 100%;
        z-index: 1;
        top: 5rem;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #e6e6e6;
        z-index: 2;
        height: 4rem;
    }

    .after {
        position: relative;
        width: 100%;
        height: 0rem;
        display: none;
    }

    .after::after {
        content: '';
        display: block;
        position: fixed;
        z-index: 1;
        bottom: .6rem;
        border-top: 2.5em solid #00cfd0; 
        border-left: 30px solid transparent; 
        border-right: 30px solid transparent; 
        height: 0; 
        width: 30em; 
        top: 4rem;
        left: 30%;
    }

    .l-banner {
        grid-area: banner;
        background-color: #ffffff;
        position: relative;
        top: 0rem;
    }

    .l-main {
        grid-area: main;
        background-color: #ffffff;
        position: relative;
        overflow: hidden;
    }

    .l-footer {
        grid-area: footer;
        background-color: #00cfd0;
        position: relative;
    }

    /* Header Top */

    .txtCupon {
        color: #e6e6e6;
        font-family: 'Titillium Web', sans-serif;
        letter-spacing: .2rem;
        position: relative;
        top: -.6rem;
    }

    /* Header */

    .nomeEmpresa {
        font-family: 'Maven Pro', sans-serif;
        font-size: 2rem;
        position: relative;
        width: 20%;
        margin-left: 2rem;
        margin-right: auto;
        top: -0rem;
    }

    .linkEmpresa {
        text-decoration: none;
        color: #ffffff;
        padding: 2px;
    }

    .buscaBoxHeader {
        position: relative;
        top: -3.65rem;
        background: #ffffff;
        height: 25px;
        border-radius: 40px;
        padding: 5px;
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
    }

    .formPesquisaHeader {
        position: relative;
        float: right;
    }

    .pesquisaBtnHeader {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e6e6e6;
        cursor: pointer;
        text-decoration: none;
        border: none;
        position: relative;
    }

    .pesquisaBtnHeader > i {
        font-size: 17px;
    }

    .pesquisaTxtHeader {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 13px;
        line-height: 25px;
        width: 13rem;
        float: left;
        color: #2f3640;
    }

    .cidadeArmazem {
        position: relative;
        width: 20%;
        top: -5.7rem;
        left: 78%;
    }

    .cidadeArmazem > select {
        background: none;
        border: none;
        font-family: 'Titillium Web', sans-serif;
        position: relative;
        top: -.3rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: none;
        -ms-word-break: normal;
        word-break: normal;
        padding-right: 1rem;
    }

    .fa-globe-americas {
        font-size: 1.5rem;
    }

    select::-ms-expand {
        display: none;
    }
    
    .cidadeArmazem:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 3.2rem;
        top: -.2rem;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
        font-size: 1.5rem;
    }

    /* Header-Bottom */

    .menuHeader {
        position: relative;
        width: 60%;
        margin: 0 0;
        padding: 0 0;
        height: 4rem;
        font-family: 'Titillium Web', sans-serif;
        float: left;
    }

    .celulaMenuHeader {
        display: inline-block;
        display: -webkit-inline-box;
        list-style: none;
        position: relative;
        top: 0rem;
        height: 100%;
        text-align: center;
        line-height: 4.8rem;
        padding: 0 2rem;
    }

    .linkMenuHeader {
        text-decoration: none;
        color: #2f3640;
        height: 100%;
        position: relative;
        top: -.4rem;
    }

    .celulaMenuHeader:hover {
        background-color: rgba(0,0,0,0.2);
        color: #e6e6e6;
        box-shadow: 0px -3px 2px 2px rgba(155, 154, 154, 0.2);
    }

    .modalMenuHeader {
        display: none;
        position: relative;
        width: 100%;
        height: 25rem;
        background: #00cfd0;
        z-index: 99;
        top: 4rem;
    }

    .categoriasMenu {
        position: relative;
        width: 10rem;
        height: 100%;
    }

    .listaCategoriasMenu {
        margin: 0;
        padding: 0;
        position: relative;
        top: -.3rem;
        text-align: center;
    }

    .celulaCategoriasMenu {
        list-style: none;
        font-family: 'Titillium Web', sans-serif;
        height: 3rem;
        position: relative;
        width: 100%;
        display: inline-block;
        line-height: 2.9rem;
        cursor: pointer;
        border-right: #2f3640 solid 2px;
    }

    .celulaCategoriasMenu:hover {
        background: #2f3640;
        color: #00cfd0;
    }

    .linkMenuGeral {
        display: none;
        background: transparent;
        position: absolute;
        height: 25rem;
        margin: 0;
        width: 86vw;
        left: 101%;
        top: 0rem;
        overflow: hidden;
        flex-direction: row;
    }

    .sectionSub {
        position: relative;
        width: 12.5rem;
        height: auto;
        background: none;
        text-align: center;
        top: 2rem;
    }

    .linkSubCatergoria {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.2rem;
    }

    .linkTipo {
        color: #2f3640;
        text-decoration: none;
        font-family: 'Titillium Web', sans-serif;
        display: block;
    }

    .sectionTipo {
        position: relative;
        text-align: center;
    }

    .usuarioHeader {
        position: relative;
        width: 30%;
        margin: 0 0;
        padding: 0 0;
        font-family: 'Titillium Web', sans-serif;
        float: right;
        height: 4rem;
    }

    .celulaUsuaurioHeader {
        display: -webkit-inline-box;
        list-style: none;
        position: relative;
        top: 0;
        height: 100%;
        text-align: center;
        line-height: 4.8rem;
        padding: 0 2rem;
        float: right;
    }

    .linkUsuaurioHeader {
        text-decoration: none;
        color: #2f3640;
        height: 100%;
        position: relative;
        top: -.2rem;
    }

    .fa-user-circle {
        font-size: 1.5rem;
    }

    .fa-shopping-basket {
        font-size: 1.5rem;
        position: relative;
        top: -.75rem;
    }

    .quantCart {
        font-size: .8rem;
        height: .5rem;
        display: inline-flex;
        top: -.7rem;
        position: relative;
    }

    .celulaUsuaurioHeader:hover {
        background-color: rgba(0,0,0,0.2);
        color: #e6e6e6;
        box-shadow: 0px -3px 2px 2px rgba(155, 154, 154, 0.2);
    }

    .buscaBox {
        position: fixed;
        top: 5.2rem;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #2f3640;
        height: 25px;
        border-radius: 40px;
        padding: 5px;
        z-index: 3;
        display: none;
    }

    .buscaBox:hover > .formPesquisa > .pesquisaTxt {
        width: 240px;
        padding: 0 6px;
    }

    .buscaBox:hover > .formPesquisa > .pesquisaBtn {
        background: white;
        color: black;
        padding: -.15em;
    }

    .pesquisaBtn {
        color: #e84118;
        float: right;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 400ms;
        color: white;
        cursor: pointer;
        text-decoration: none;
        border: none;
    }

    .pesquisaBtn > i {
        font-size: 17px;
    }

    .pesquisaTxt {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 13px;
        transition: 400ms cubic-bezier(.18,.89,.32,1.28);
        line-height: 25px;
        width: 0px;
    }


    /* modal */

    .modal {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        z-index: 9999;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        width: 18rem;
        height: 20rem;
        background-color: #ffffff;
        border-radius: 4px;
        text-align: center;
        padding: 1rem;
        border: 1px solid #888;
    }

    .close {
        cursor: pointer;
        position: relative;
        font-size: 2rem;
        float: right;
        top: -.8rem;
    }

    .tituloLog{
        font-family: 'Titillium Web', sans-serif;
        font-size: 2rem;
        color: black;
        margin: .5rem .5rem;
        position: relative;
        width: 40%;
        left: 27%;
    }

    .accountTxt{
        font-family: 'Titillium Web', sans-serif;
        position: relative;
        margin: .5rem auto;
    }

    .accountTxt > a {
        text-decoration: none;
        color: #00cfd0;
    }

    .emailTxt, .senhaLogTxt {
        position: relative;
        display: block;
        width: 80%;
        height: 30px;
        margin: 0 auto;
        top: 1rem;
        font-family: 'Titillium Web', sans-serif;
        box-sizing: border-box;
        transition: 300ms;
        border-style: solid;
        padding-left: 30px;
    }

    .emailTxt:hover, .senhaLogTxt:hover{
        border-color: #00cfd0;
        border-style: solid;
    }

    .inputWithIcon i{
        position: relative;
        left: -6.1rem;
        top: -.45rem;
        transition: 300ms;
    }

    .inputWithIcon .emailTxt:focus + i {
        color: #00cfd0;
    }

    .inputWithIcon .senhaLogTxt:focus + i {
        color: #00cfd0;
    }

    .btnForm{
        position: relative;
        display: block;
        width: 80%;
        height: 30px;
        margin: 1rem auto;
        top: 2rem;
        font-family: 'Titillium Web', sans-serif;
        background-color: rgb(248, 19, 19);
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .btnForm{
        position: relative;
        display: block;
        width: 80%;
        height: 30px;
        margin: 1rem auto;
        top: .5rem;
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        background-color: #2f3640;
        color: #ffffff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 300ms;
    }

    .btnForm:hover, .btnFormReg:hover{
        background-color: #00cfd0;
        color: black;
    }

    .close, .closeReg {
        color: #aaa;
        float: right;
        font-size: 28px;
        position: relative;
        top: -.4rem;
        font-weight: bold;
    }

    .close:hover, .close:focus, .closeReg:hover, .closeReg:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    .forgotTxt{
        font-family: 'Titillium Web', sans-serif;
        position: relative;
        margin: .5rem auto;
        opacity: 0.5;
        top: 2.5rem;
    }

    .forgotTxt a{
        text-decoration: none;
        color: #00cfd0;
    }

    /* Modal Registro */

    .modalRegistro{
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        z-index: 3;
        top: 0;
        position: fixed;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .modal-content-registro {
        background-color: #f5f6fa;
        padding: 1rem;
        border: 1px solid #888;
        width: 30%;
        height: 34rem;
        border-radius: 5px;
        text-align: center;
    }

    .nomeTxt, .sobrenomeTxt, .genero, .cpfTxt, .telTxt, .emailRegTxt, .senhaRegTxt {
        position: relative;
        display: block;
        width: 80%;
        height: 30px;
        margin: 0 auto;
        top: 1rem;
        font-family: 'Titillium Web', sans-serif;
        box-sizing: border-box;
        transition: 300ms;
        border-style: solid;
        padding-left: 5px;
        margin-top: .7rem;
    }

    .nomeTxt:hover, .sobrenomeTxt:hover, .genero:hover, .cpfTxt:hover, .telTxt:hover, .emailRegTxt:hover, .senhaRegTxt:hover {
        border-color: #00cfd0;
        border-style: solid;
    }

    .tituloReg {
        font-family: 'Titillium Web', sans-serif;
        font-size: 2rem;
        color: black;
        margin: .5rem .5rem;
        position: relative;
    }

    .btnFormReg{
        position: relative;
        display: block;
        width: 80%;
        height: 30px;
        margin: 1rem auto;
        top: 1.4rem;
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        background-color: #2f3640;
        color: #ffffff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 300ms;
    }

    .accountRegTxt{
        font-family: 'Titillium Web', sans-serif;
        position: relative;
        margin: .5rem auto;
        top: 3.5rem;
    }

    .accountRegTxt > a {
        text-decoration: none;
        color: #00cfd0;
    }

    /* Slideshow */

    .mySlides {
        display:none;
        width: 100%;
        height: 100%;
    }

    .imgSlide {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        position: relative;
    }

    /* Slideshow container */
    .slideshow-container {
      position: relative;
      margin: auto;
      height: 100%;
      width: 100%;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .divBtnDentroSlide {
        position: relative;
        top: -15rem;
        margin: 0 0;
        padding: 0 0;
        left: 70%;
    }

    .btnDentroSlide {
        width: 10rem;
        height: 3.8rem;
        border: none;
        background: #82ff05;
    }

    .linkBtnDentroSlide {
        text-decoration: none;
        color: #2f3640;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.6rem;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dotSlide {
        position: relative;
        top: -3rem;
    }

    .dot {
      cursor:pointer;
      height: 13px;
      width: 13px;
      margin: 0 2px;
      background-color: #717171;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #00cfd0;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4}
    to {opacity: 1}
    }

    /* Main */

    .tituloOfertas {
        position: relative;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.9rem;
        width: 100%;
        text-align: center;
        top: 2rem;
        background-image: linear-gradient(to right, #82ff05 , #00cfd0);
        padding: 10px 0;
        color: #2f3640;
    }

    .tOff2 {
        position: relative;
        margin-top: 4rem;
    }

    .sectionSlideProd {
        position: relative;
        height: auto;
        top: 3rem;
    }

    .produto_thumb {
        padding: 7px;
        width: auto;
        height: 20rem;
        margin-bottom: .3rem;
        margin-top: .3rem;
        background: #ffffff;
        border-top: #00cfd0 solid 4px;
        border-bottom: #00cfd0 solid 4px;
        transition: 200ms box-shadow ease-in-out;
    }

    .produto_thumb:hover {
        box-shadow: 0px 5px 5px 5px rgba(155, 154, 154, 0.5);
    }

    .imagemThumb {
        position: relative;
    }

    .nomeProduto {
        font-family: 'Titillium Web', sans-serif;
        text-align: justify;
        font-size: 1rem;
        margin: 0;
        position: relative;
        top: 2rem;
        font-weight: 100;
        color: black;
    }

    .nomeProduto > a {
        text-decoration: none;
        color: black;
    }

    .cart-action {
        position: absolute;
        top: 3.5rem;
        margin: 0;
    }

    .productQtd {
        position: relative;
        top: 1.5rem;
        left: 7rem;
        width: 2.5rem;
        height: 2rem;
        border: #00cfd0 solid .1rem;
        font-family: 'Titillium Web', sans-serif;
    }

    .precoProduto {
        font-family: 'Titillium Web', sans-serif;
        text-align: left;
        color: #e84118;
        position: absolute;
        top: 3rem;
        margin: 0;
        font-weight: 300;
        font-size: 1rem;
    }

    .linkBtnAddCart {
        position: absolute;
        top: .5rem;
        left: 10rem;
        margin: 0;
    }

    .btnAddCart {
        background: #00cfd0;
        height: 3rem;
        width: 3rem;
        border: none;
        cursor: pointer;
        margin: 0;
    }

    .fa-cart-plus {
        font-size: 1rem;
    }

    .owl-dots {
        background: #ffffff;
        color: #2f3640;
        font-size: 2rem;
    }

    .owl-dots button span {
        display: none;
    }

    .owl-item {
        background: #ffffff;
    }

    /* PAGINA ---> subcategorias.php */
    /* =============================== */
    
    .l-wrapper_subcategorias {
        display: grid;
    }
    
    .l-wrapper_subcategorias {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 2.5rem 5rem 4rem auto 25rem;
        grid-template-areas:
            "header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top"
            "header header header header header header header header header header header header"
            "header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            ;
    }

    .l-header-top_subcategorias {
        grid-area: header-top;
        background-color: #2f3640;
        width: 100%;
        text-align: center;
    }

    .l-header_subcategorias {
        grid-area: header;;
        background-color: #00cfd0;
        width: 100%;
        text-align: center;
        z-index: 2;
    }

    .l-header-bottom_subcategorias {
        grid-area: header-bottom;
        background-color: #e6e6e6;
        width: 100%;
        z-index: 1;
    }

    .l-main_subcategorias {
        grid-area: main;
        background-color: #ffffff;
    }

    .l-footer_subcategorias {
        grid-area: footer;
        background: #00cfd0;
    }

    .produto_thumb_subcateg {
        float: left;
        margin-left: 15px;
        padding: 7px;
        top: 2rem;
        position: relative;
        border: #2f3640 solid 3px;
        width: 13rem;
        height: 20rem;
        box-shadow: #717171 5px 5px;
        margin-bottom: 4rem;
        left: 2.5%;
    }

    .mensagemVazia {
        position: relative;
        width: 100%;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
    }


    /* PAGINA ---> detalhes.php */
    /* =============================== */
    
    .l-wrapper_detalhes {
        display: grid;
    }
    
    .l-wrapper_detalhes {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 2.5rem 5rem 4rem auto auto auto 25rem;
        grid-template-areas:
            "header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top"
            "header header header header header header header header header header header header"
            "header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom"
            "main-1 main-1 main-1 main-1 main-1 main-1 main-2 main-2 main-2 main-2 main-2 main-2"
            "sub-main-1 sub-main-1 sub-main-1 sub-main-1 sub-main-1 sub-main-1 sub-main-1 sub-main-1 sub-main-1 sub-main-1 sub-main-1 sub-main-1"
            "sub-main-2 sub-main-2 sub-main-2 sub-main-2 sub-main-2 sub-main-2 sub-main-2 sub-main-2 sub-main-2 sub-main-2 sub-main-2 sub-main-2"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            ;
    }

    .l-header-top_detalhes {
        grid-area: header-top;
        background-color: #2f3640;
        width: 100%;
        text-align: center;
    }

    .l-header_detalhes {
        grid-area: header;;
        background-color: #00cfd0;
        width: 100%;
        text-align: center;
        z-index: 2;
    }

    .l-header-bottom_detalhes {
        grid-area: header-bottom;
        background-color: #e6e6e6;
        width: 100%;
        z-index: 1;
    }

    .l-main_detalhes-1 {
        grid-area: main-1;
        background-color: #ffffff;
    }

    .l-main_detalhes-2 {
        grid-area: main-2;
        background: #ffffff;
    }

    .l-sub-main_detalhes-1 {
        grid-area: sub-main-1;
        background: #ffffff;
    }

    .l-sub-main_detalhes-2 {
        grid-area: sub-main-2;
        background: #ffffff;
    }

    .l-footer_detalhes {
        grid-area: footer;
        background: #00cfd0;
    }

    .produtoThumbDetalhe {
        position: relative;
        width: 100%;
    }

    .imagemThumbDetalhe {
        position: relative;
        left: 7rem;
        margin-bottom: 2rem;
    }

    .nomeProdutoDetalhe {
        position: relative;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.6rem;
        top: 4rem;
        margin: 0;
        left: 0;
    }

    .precoProdutoDetalhe {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.5rem;
        color: #e84118;
        position: relative;
        margin: 0;
        top: 4rem;
    }

    .btnsDet {
        position: relative;
        width: 100%;
        height: auto;
        display: inline-flex;
        top: 22rem;
    }

    .linkBtnDet {
        width: 10rem;
        margin-left: 3rem;
    }

    .linkBtnDet1 {
        background: #00cfd0;
        margin-left: 0;
    }

    .linkBtnDet2 {
        background: #82ff05;
    }

    .linkBtnDet3 {
        background: #00cfd0;
    }

    .btnAddCartDetalhe {
        background: transparent;
        height: 3rem;
        width: 100%;
        cursor: pointer;
        border: none;
        font-family: 'Titillium Web', sans-serif;
    }

    .nameDescription {
        width: 30%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.8rem;
    }

    .descriptionSelf {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.1rem;
        text-align: center;
    }

    .productDescription {
        position: relative;
        border: none;
        left: 0;
        width: 50%;
    }

    .linhaQrCode {
        width: 75%;
        border: 0;
        height: .05rem;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    .qrCode {
        position: relative;
        width: 8rem;
    }

    .elementQrCode {
        float: left;
        margin-left: 20%;
        margin-bottom: 3rem;
    }

    .titleQrCode {
        font-family: 'Titillium Web', sans-serif;
        text-align: center;
        font-size: 1.8rem;
        height: 4rem;
        margin-top: 2.5rem;
        margin-bottom: .5rem;
        color: #2f3640;
    }

    .fa-copyright {
        font-size: .5rem;
        position: relative;
        top: -15px;
    }

    .elementTxtQrCode {
        float: left;
        width: 50%;
        position: relative;
        text-align: center;
    }

    .txtQrCode {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.2rem;
        position: relative;
        margin: 0;
    }

    .logosRedesSociaisQrCode {
        background: #ffffff;
        position: relative;
        width: auto;
        display: inline-block;
        text-align: center;
        top: 6rem;
        font-size: 1.2rem;
        right: 34.2%;
    }

    .logosRedesSociaisQrCode > i {
        margin-left: .5rem;
    }

    .txtDescProd {
        font-family: 'Titillium Web', sans-serif;
        position: relative;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    /* PAGINA ---> carrinho.php */
    /* =============================== */
    
    .l-wrapper_carrinho {
        display: grid;
    }
    
    .l-wrapper_carrinho {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 2.5rem 5rem 4rem auto 25rem;
        grid-template-areas:
            "header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top"
            "header header header header header header header header header header header header"
            "header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            ;
    }

    .l-header-top_carrinho {
        grid-area: header-top;
        background-color: #2f3640;
        width: 100%;
        text-align: center;
    }

    .l-header_carrinho {
        grid-area: header;;
        background-color: #00cfd0;
        width: 100%;
        text-align: center;
        z-index: 2;
    }

    .l-header-bottom_carrinho {
        grid-area: header-bottom;
        background-color: #e6e6e6;
        width: 100%;
        z-index: 1;
    }

    .l-main_carrinho {
        grid-area: main;
        background-color: #ffffff;
    }

    .l-footer_carrinho {
        grid-area: footer;
        background: #00cfd0;
    }

    .elementCarrinho {
        position: relative;
        width: 100%;
    }

    .titleCarrinho {
        font-family: 'Titillium Web', sans-serif;
        text-align: center;
        margin-top: 3rem;
    }

    .tabelaCart {
        position: relative;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Titillium Web', sans-serif;
    }

    .colm {
        margin: .5rem 0;
        text-align: center;
        color: #00cfd0;
    }

    .linhaCols {
        width: 96%;
        border: 0;
        height: .2rem;
        position: relative;
        top: 0rem;
        background: #2f3640;
        border-radius: 2px;
    }

    .productRow {
        padding: 5px;
        font-family: 'Titillium Web', sans-serif;
        height: 4rem;
    }

    .precoUnitCel {
        text-align: center;
    }

    .precoCel {
        text-align: center;
    }

    .linhaCart {
        width: 95%;
        border: 0;
        height: .05rem;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    .elementImgCart {
        position: relative;
        margin: 0;
        left: 12%;
        float: left;
    }

    .nomeProd {
        position: relative;
        margin: 0;
        left: 15%;
    }

    .precoProdUnit {
        position: relative;
        color: #e84118;
        margin: 0;
    }

    .precoProd {
        position: relative;
        color: #e84118;
        margin: 0;
    }

    .btnRemoveAction {
        position: relative;
        text-decoration: none;
        color: black;
        margin: 0;
        left: 15%;
        top: 2rem;
    }

    .txtQtd {
        position: relative;
        height: 2rem;
        font-family: 'Titillium Web', sans-serif;
        border: black solid 1px;
        border-radius: 2px;
        margin: 0;
        text-align: center;
        width: 60%;
        left: 20%;
    }

    .txtQtd:focus {
        border: #00cfd0 solid 1px;
    }

    .semRegistros {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
        margin: 2rem 0;
        color: #e84118;
    }

    .resultadoCart {
        width: 90%;
        font-family: 'Titillium Web', sans-serif;
        background: #2f3640;
        margin-left: auto;
        margin-right: auto;
    }

    .subtotal {
        position: relative;
        font-size: 1.3rem;
        color: #ffffff;
        margin: 0;
        float: left;
        left: 6%;
        margin: .45rem 0;
    }

    .totalQtd {
        position: relative;
        font-size: 1.3rem;
        margin: 0;
        color: #ffffff;
        float: right;
        right: 6%;
        margin: .45em 0;
    }

    .finalBtnsCart {
        position: relative;
        display: inline-flex;
        width: auto;
        left: 32.9%;
        margin: 2rem 0;
    }

    .btnCart {
        padding: 5px 8px;
        font-family: 'Titillium Web', sans-serif;
        background: #2f3640;
        border: none;
        margin-left: 2rem;
        font-size: 1rem;
        color: #ffffff;
        cursor: pointer;
        border-radius: 2px;
        text-decoration: none;
    }

    .btnCart:hover {
        color: #00cfd0;
    }

    .btnCart:hover > a {
        color: #00cfd0;
    }

    .btnCartSpec {
        font-family: 'Titillium Web', sans-serif;
        background: #2f3640;
        border: none;
        font-size: 1rem;
        padding: 5px 8px;
        color: #ffffff;
        cursor: pointer;
        border-radius: 2px;
        text-decoration: none;
    }

    .btnCartSpec:hover {
        color: #00cfd0;
    }

    .linkBtnFinalizar {
        text-decoration: none;
        color: #ffffff;
    }



    /* PAGINA ---> comofuncionamos.php */
    /* =============================== */

    .l-wrapper_2 {
        display: grid;
    }
    
    .l-wrapper_2 {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 2.5rem 5rem 4rem 65rem 25rem;
        grid-template-areas:
            "header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top"
            "header header header header header header header header header header header header"
            "header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom"
            "main_2 main_2 main_2 main_2 main_2 main_2 main_2 main_2 main_2 main_2 main_2 main_2"
            "footer_2 footer_2 footer_2 footer_2 footer_2 footer_2 footer_2 footer_2 footer_2 footer_2 footer_2 footer_2"
            ;
    }

    .l-header-top_comofuncionamos {
        grid-area: header-top;
        background-color: #2f3640;
        width: 100%;
        text-align: center;
    }

    .l-header_comofuncionamos {
        grid-area: header;
        background-color: #00cfd0;
        width: 100%;
        text-align: center;
        z-index: 3;
    }

    .l-header-bottom_comofuncionamos {
        grid-area: header-bottom;
        background-color: #e6e6e6;
        width: 100%;
        z-index: 2;
    }

    .l-main_2 {
        grid-area: main_2;
        background-color: #ffffff;
        position: relative;
    }

    .l-footer_2 {
        grid-area: footer_2;
        background-color: #00cfd0;
        position: relative;
    }

    /* MAIN --> Pagina: comofuncionamos.html */

    .tituloPaginaComoFuncionamos {
        font-family: 'Titillium Web', sans-serif;
        width: 28%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 2rem;
        letter-spacing: .5px;
        font-size: 2rem;
    }

    .box {
        position: relative;
        padding: 8px;
    }

    .subtituloPaginaComoFuncionamos {
        font-family: 'Titillium Web', sans-serif;
        font-size: 2rem;
        text-align: center;
        position: relative;
        z-index: 1;
        margin: 0;
        color: #82ff05;
        background-color: rgba(0,0,0,0.6);
    }

    .subt1 {
        top: 7.5rem;
        left: 15%;
        width: 16%;
    }

    .img1 {
        clip-path: polygon(20% 0, 95% 10%, 100% 60%, 5% 90%);
        shape-outside: polygon(20% 0, 95% 10%, 100% 60%, 5% 90%);
        float: left;
        width: 25rem;
        margin-right: 2rem;
        margin-left: 5rem;
        margin-bottom: 1rem;
    }

    .parag {
        font-family: 'Titillium Web', sans-serif;
        text-align: justify;
        line-height: 30px;
        text-indent: 2.5rem;
        font-weight: 300;
        font-size: 1.05rem;
    }

    .elementParag1{
        clear: right;
        padding-right: 8rem;
        padding-left: 8rem;
    }

    .linha1 {
        position: relative;
        top: 1.8rem;
        width: 75%;
    }

    .subt2 {
        top: 9rem;
        left: 71%;
        width: 18%;
    }

    .img2 {
        clip-path: polygon(22% 0, 95% 20%, 100% 100%, 0 80%);
        shape-outside: polygon(22% 0, 95% 20%, 100% 100%, 0 80%);
        float: right;
        width: 25rem;
        margin-right: 5rem;
        margin-left: 2rem;
    }

    .elementParag2 {
        clear: left;
        padding-left: 8rem;
        padding-right: 8rem;
        margin-top: 0rem;
    }

    /* PAGINA ---> checkout.php */
    /* =============================== */

    .l-wrapper_checkout {
        display: grid;
    }
    
    .l-wrapper_checkout {
        grid-template-columns: repeat(12, minmax(auto, 1fr));
        grid-template-rows: 2.5rem 5rem 4rem auto 25rem;
        grid-template-areas:
            "header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top header-top"
            "header header header header header header header header header header header header"
            "header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom header-bottom"
            "main main main main main main main main main main main main"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
            ;
    }

    .l-header-top_checkout {
        grid-area: header-top;
        background-color: #2f3640;
        width: 100%;
        text-align: center;
    }

    .l-header_checkout {
        grid-area: header;;
        background-color: #00cfd0;
        width: 100%;
        text-align: center;
        z-index: 2;
    }

    .l-header-bottom_checkout {
        grid-area: header-bottom;
        background-color: #e6e6e6;
        width: 100%;
        z-index: 1;
    }

    .l-main_checkout {
        grid-area: main;
        background-color: #ffffff;
    }

    .l-footer_checkout {
        grid-area: footer;
        background: #e6e6e6;
    }

    .loginBox {
        position: relative;
        width: 40%;
        height: 20rem;
        margin: 2rem auto;
        background-color: #f5f6fa;
        border-radius: 4px;
        text-align: center;
        padding: 1rem;
        border: 1px solid #888;
    }

    .loginForm i{
        position: relative;
        left: -36.5%;
        top: -.45rem;
        transition: 300ms;
    }

    .loginForm .emailTxt:focus + i {
        color: #00cfd0;
    }

    .loginForm .senhaLogTxt:focus + i {
        color: #00cfd0;
    }

    /* cadastrar_cliente.php */

    .registroBox {
        position: relative;
        width: 40%;
        height: 50rem;
        margin: 2rem auto;
        background-color: #f5f6fa;
        border-radius: 4px;
        text-align: center;
        padding: 1rem;
        border: 1px solid #888;
    }

}